@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
body {
  @apply bg-black text-white font-sans;
}

.fade-out {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 200ms ease-out, transform 200ms ease-out;
}

.tile-animating {
  transition: transform 200ms ease-in;
}

/* index.css */
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

